    <header>
      <img id="logo" src="/img/Logo.jpg" alt="Logo">
      <a id="menu-btn" onclick="openNav()">&#9776; OPEN</a>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/homePage">Home Page</a>
        <a href="/editPage">Minha Conta</a>
        <a href="/comentsPage">Comentários</a>
        <a href="sobreNos">Sobre Nós</a>
        <a href="">Discord</a>
      </div>
    </header>