<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    
</head>
<body>
    <form>
        <h1>Login</h1>
        <input type="text" placeholder="login" id="login">
        <input type="password" placeholder="senha" id="senha">
        <input type="submit" onclick="logar()">
        

    </form>

 <script>
    //Validação do ADMIN

function logar(){
  let login = document.getElementById('login').value;
  let senha = document.getElementById('senha').value;

  if(login == "admin" && senha == "admin"){
    location.href = "/views/homePage.ejs"
  }else{
    alert('Usuario ou senha incorreto!!!! ')
  }
}

 </script>   
</body>

</html>