<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Page</title>
    <link rel="stylesheet" href="/css/comentsPage.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include("./partials/header") %>
    <section class="comentarios">
        <h1>Comentários</h1>
    </section>

    <section class="carrossel">
     <% comentarios.forEach((comentario)=>{ %>

         <div class="divisoes">
           
            <p><strong>Descrição:</strong> <%= comentario.texto %></p>
            <div class="carrossel-img">
                <h1 class="nome"><%= comentario.comentador.nome %></h1>
                </div>            
            </div>
                    
    <% }) %>
    </section>

    <section class="sessao">
        <form action="/comentsPage" method="POST" class="form">
        <div class="inputs">
            <textarea class="coment" type="text" name='texto' placeholder="Digite Seu comentário aqui!"></textarea>
            <button type="submit">ENVIAR</button>
        </div>
        </form>
    </section>
    <%- include('./partials/footer') %> 
    <script src="/js/menuDrop.js"></script>
</body>
</html>