<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Page</title>
    <link rel="stylesheet" href="/css/comentsPage.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include("./partials/header") %>
    <section class="comentarios">
        <h1>Comentários</h1>
    </section>

    <section class="carrossel">
       
        <div class="divisoes">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie pulvinar nisi at rutrum. Aliquam faucibus tortor non diam commodo posuere. In nec ante nisl.”</p>
            <div class="carrossel-img">
                <div class="imagem-nome">
                  
                </div>
                
                <h1 class="nome">Nome</h1>
            </div>            

        </div>
        <div class="divisoes">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie pulvinar nisi at rutrum. Aliquam faucibus tortor non diam commodo posuere. In nec ante nisl.”</p>
            <div class="carrossel-img">
                <div class="imagem-nome">
                  
                </div>
                
                <h1 class="nome">Nome</h1>
            </div>            

        </div>
        <div class="divisoes">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie pulvinar nisi at rutrum. Aliquam faucibus tortor non diam commodo posuere. In nec ante nisl.”</p>
            <div class="carrossel-img">
                <div class="imagem-nome">
                  
                </div>
                
                <h1 class="nome">Nome</h1>
            </div>            

        </div>
        <div class="divisoes">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie pulvinar nisi at rutrum. Aliquam faucibus tortor non diam commodo posuere. In nec ante nisl.”</p>
            <div class="carrossel-img">
                <div class="imagem-nome">
                  
                </div>
                
                <h1 class="nome">Nome</h1>
            </div>            

        </div>
        <div class="divisoes">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie pulvinar nisi at rutrum. Aliquam faucibus tortor non diam commodo posuere. In nec ante nisl.”</p>
            <div class="carrossel-img">
                <div class="imagem-nome">
                  
                </div>
                
                <h1 class="nome">Nome</h1>
            </div>            

        </div>
        <div class="divisoes">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie pulvinar nisi at rutrum. Aliquam faucibus tortor non diam commodo posuere. In nec ante nisl.”</p>
            <div class="carrossel-img">
                <div class="imagem-nome">
                  
                </div>
                
                <h1 class="nome">Nome</h1>
            </div>            

        </div>

    </section>

    <section class="sessao">
        <div class="sessao-imagem">
            <img src="" alt="">
        </div>
        <div class="inputs">
            <input class="inputNome" type="text">
            <input class="coment" type="text" placeholder="Digite Seu comentário aqui!">
            <button>ENVIAR</button>
        </div>
    </section>
    <%- include('./partials/footer') %> 
    <script src="/js/menuDrop.js"></script>
</body>
</html>