<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContentPage</title>
    <link rel="stylesheet" href="/public/css/geral.css">
    <link rel="stylesheet" href="/public/css/contentPage.css">
</head>
<body>
    <section class="section-um">
        <h1 class="titulo">Calculadora de Dimensão Modal</h1>
        <div>
            <label>
                Largura:  
                <input 
                     type="text" 
                     placeholder="Digite a largura da sala">
            </label>
            <label>
                Comprimento:  
                <input 
                     type="text" 
                     placeholder="Digite o comprimento da sala">
            </label>
            <label>
                Largura:  
                <input 
                     type="text" 
                     placeholder="Digite a altura da sala">
            </label>
        </div>
        <div class="grafico"></div>
        <div class="axiais-primária">
            
            <div class="axiais">
                <div>
                    <h1>Axiais Primárias</h1>
                    
                    <label>
                        Largura:  
                        <input 
                             type="text">
                    </label>
                    <label>
                        Comprimento:  
                        <input 
                             type="text">
                    </label>
                    <label>
                        Largura:  
                        <input 
                             type="text">
                    </label>
                </div>
                <img src="/public/img/contentimg1.jpg" alt="">
            </div>

        </div>
        
        <div class="explicacao">
            <a href="">Explicação em details <br> sobre as Axiais</a>
            <a href="">Explicação Do Grafico de <br> Densidade Modal</a>
        </div>
    </section>
    <section class="section-dois">
        <h1 class="titulo">COMO APLICAR O USO DA DENSIDADE MODAL PARA PLANEJAMENTO DA <br class="espaco"> ACUSTICA DO ESTUDIO</h1>
        <div class="como-fazer">
            <div class="img-um-section-dois"><img src="" alt=""></div>
            <div class="paragrafo-section-dois">
                <p>SECTION DE COMO FAZER PARA USAR ESSAS <br> INFORMAÇÕES PARA CONSTRUÇÃO DO ESTÚDIO</p>
            </div>
        </div>
        <div class="video">
            <iframe class="iframe" src="https://www.youtube.com/embed/vuClLAeDw4I?list=RDvuClLAeDw4I" title="VOCÊ VAI SE EMOCIONAR COM ESSA MÚSICA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </iframe>
                
            </div>
        </div>
    </section>
    <section class="section-tres">
        <div class="section-tres-geral">
            <h1 class="titulo">PROPRIEDADES DO SOM</h1>
            <div class="conteiners">
                <img class="imagem" src="/public/img/Vector 3.svg" alt="">
                <div class="video" >
                    <iframe class="iframe" src="https://www.youtube.com/embed/vuClLAeDw4I?list=RDvuClLAeDw4I" title="VOCÊ VAI SE EMOCIONAR COM ESSA MÚSICA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </iframe></div>
                <img class="imagem" src="/public/img/Vector 3.svg" alt="">
            </div>
            <p class="p-video">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam ut odio nulla faucibus velit egestas. Nulla ut erat pretium massa. Curabitur id enim sollicitudin egestas a, dignissim ac mauris. Elit, dui quis convallis in eget a vitae, turpis. A auctor varius eu in semper. Aliquam lacus orci feugiat aenean euismod.</p>
        </div>
        <div class="section-tres-geral">
            <h1 class="titulo">ACUSTICA</h1>
            <div class="conteiners">
                <img class="imagem" src="/public/img/Vector 3.svg" alt="">
                <div class="video" >,
                    <iframe class="iframe" src="https://www.youtube.com/embed/vuClLAeDw4I?list=RDvuClLAeDw4I" title="VOCÊ VAI SE EMOCIONAR COM ESSA MÚSICA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </iframe></div>
                <img class="imagem" src="/public/img/Vector 3.svg" alt="">
            </div>
            <p class="p-video">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam ut odio nulla faucibus velit egestas. Nulla ut erat pretium massa. Curabitur id enim sollicitudin egestas a, dignissim ac mauris. Elit, dui quis convallis in eget a vitae, turpis. A auctor varius eu in semper. Aliquam lacus orci feugiat aenean euismod.</p>
        </div>
        <div class="section-tres-geral">
            <h1 class="titulo">EQUIPAMENTOS</h1>
            <div class="conteiners">
                <img class="imagem" src="/public/img/Vector 3.svg" alt="">
                <div class="video" >
                    <iframe class="iframe" src="https://www.youtube.com/embed/vuClLAeDw4I?list=RDvuClLAeDw4I" title="VOCÊ VAI SE EMOCIONAR COM ESSA MÚSICA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </iframe></div>
                <img class="imagem" src="/public/img/Vector 3.svg" alt="">
            </div>
            <p class="p-video">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam ut odio nulla faucibus velit egestas. Nulla ut erat pretium massa. Curabitur id enim sollicitudin egestas a, dignissim ac mauris. Elit, dui quis convallis in eget a vitae, turpis. A auctor varius eu in semper. Aliquam lacus orci feugiat aenean euismod.</p>
        </div>
    </section>

</body>
</html>