
<!DOCTYPE html>
<html lang="pt-br">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homePage.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Sketch Studio</title>
  </head>
  
  <body>
    <header>
      <img id="logo" src="/img/Logo.jpg" alt="Logo">
      <a id="menu-btn" onclick="openNav()">&#9776; OPEN</a>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/homePage">Home Page</a>
        <a href="/editPage">Minha Conta</a>
        <a href="/comentsPage">Comentários</a>
        <a href="sobreNos">Sobre Nós</a>
        <a href="">Discord</a>
      </div>
    </header>
    <section class="home-container">

    <div class="main-container">
      <div class="textContent">
        <h2>Bem Vindo Ao Sketch Studio <%= user.nome %> </h2>
        <h1>

          Nessa plataforma você aprenderá o necessário <br>

          para desenvolver seu próprio Home Studio<br>

          de maneira fácil e simples. <br>

        </h1>
        <button id="btn-m1"><a class="ref-contentPage" href="/contentPage">Comece Agora</a></button>
      </div>
    </div>
<%- include('./partials/footer') %> 
</section>
<script src="/js/menuDrop.js"></script>
</body>
</hmtl>