<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/homePage.css">
  <link rel="stylesheet" href="/public/css/geral.css">
  <title>Sketch Studio</title>
</head>

<body>
  <section class="home-container">
    <header>
      <img id="logo" src="/public/img/Logo.jpg" alt="Logo">
      <a id="menu-btn" onclick="openNav()">&#9776; OPEN</a>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home Page</a>
        <a href="#">Minha Conta</a>
        <a href="#">Comentários</a>
        <a href="#">Sobre Nós</a>
        <a href="#">Discord</a>
      </div>
    </header>
    <div class="main-container">
      <div class="textContent">
        <h2>Bem Vindo Ao Sketch Studio</h2>
        <h1>

          Nessa plataforma você aprenderá o necessário <br>

          para desenvolver seu próprio Home Studio<br>

          de maneira fácil e simples. <br>

        </h1>
      </div>
      <form class="form">
          <h2 id="textForm">Preencha com os Parâmetros do Seu Futuro Studio</h2>
          <input type="number" step="0.1" min="0" class="form-field" >
          <input type="number" step="0.1" min="0" class="form-field" >
          <input type="number" step="0.1" min="0" class="form-field" >
          <button id="btn-m1" type="submit">Crie Seu Studio</button>
        </form>
    </div>
    <footer>
      <a href="">Sobre Nós</a>
      <a href="">Comentários</a>
      <a href="">Comunidade Discord</a>
    </footer>
  </section>
  <script src="/public/js/menuDrop.js"></script>
</body>
</hmtl>