<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/login.css">
  <link rel="stylesheet" href="/public/css/geral.css">
  <title>Sketch Studio</title>
</head>

<body>
  <main class="loginContainer">
    <div class="esquerda">
      <div class="header">
        <img class="animation a1" src="/public/img/Logo.jpg" alt="logo">
        <h4 class="animation a2">Digite aqui seu Login</h4>
      </div>
        <form action="#" class="form">
          <input type="email" name="email" class="form-field animation a3" placeholder="Email">
          <input type="password" name="senha" class="form-field animation a4" placeholder="Senha">

          <p class="animation a5"><a href="#">Esqueceu a Senha</a></p>
          <button class="animation a6">LOGIN</button>
        </from>
    </div>
    <div class="direita">
    </div>
  </main>
</body>

</html>