<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/geral.css">
    <title>Sketch Studio</title>
</head>

<body>
<section class="registroContainer">
    <main>
        <div class="header">
            <img class="#" src="/img/Logo.jpg" alt="logo">
            <h4 class="#">Crie uma Conta Gratuita agora</h4>
        </div>
        <form action="" method="POST" class="form">
            <input type="text" class="form-field" name="nome" placeholder="Nome Completo">
            <input type="email" class="form-field" placeholder="Email">
            <input type="password" class="form-field" placeholder="Senha">
            <input type="password" class="form-field" placeholder="Confimar Senha">
            <button type="submit">ENVIAR</button>
            <p class="#"><a href="#">Já é cadastrado?</a></p>
        </form>
    </main>
    <footer>
        <button class="#"><a href="#">Quem Somos</a></button>
    </footer>
</section>
</body>
</html>