<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/geral.css">
    <title>Sketch Studio</title>
    
    
</head>

<body>
<section class="registroContainer">
    <main>
        <div class="header">
            <img class="#" src="/img/Logo.jpg" alt="logo">
            <h4 class="#">Crie uma Conta Gratuita agora</h4>
        </div>
        <form action="" method="POST" class="form" id="form">
            <div class="form-control">
        
                <label for="username" >Nome</label>
                <input type="text" id="username">
                <i class="img-success" ><img src="./images/success-icon.svg" alt=""></i>
                <i class="img-error" ><img src="./images/error-icon.svg" alt=""></i>

                <small>Error Message</small>

            </div>

            <div class="form-control">

                <label>Email</label>
                <input type="email" id="email">
                <i class="img-success" ><img src="./images/success-icon.svg" alt=""></i>
                <i class="img-error" ><img src="./images/error-icon.svg" alt=""></i>

                <small>Error Message</small>

            </div>

            <div class="form-control">

                <label>Senha</label>
                <input type="password" id="password">
                <i class="img-success" ><img src="./images/success-icon.svg" alt=""></i>
                <i class="img-error" ><img src="./images/error-icon.svg" alt=""></i>

                <small>Error Message</small>

            </div>

            <div class="form-control">

                <label>Confirme sua senha</label>
                <input type="password" id="password-two" >
                <i class="img-success" ><img src="./images/success-icon.svg" alt=""></i>
                <i class="img-error" ><img src="./images/error-icon.svg" alt=""></i>

                <small>Error Message</small>

            </div>

            <button type="submit" >ENVIAR</button>
            
        </form>
        <p class="cadastrado"><a href="#">Já é cadastrado ?</a></p>
    </main>
    <footer>
        <button class="#"><a href="#">Quem Somos</a></button>
    </footer>
</section>
<script src="/js/registro.js"></script>

</body>
</html>