<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/resetSenha.css">
  <link rel="stylesheet" href="/css/geral.css">
  
  <title>Sketch Studio</title> 
</head>
<body>
    <section class="registroContainer">
        <main>
            <div class="header">
                <img class="#" src="/img/Logo.jpg" alt="logo">
                <h4 class="#">Envie um email para resetar sua senha aqui:</h4>
            </div>
            <form class="form">
                <input type="email" class="form-field" placeholder="Email">
                <button class="">ENVIAR</button>
                <p><a href="#"><img src="/img/login_icon.png" alt="logo"> voltar ao login</a></p>
            </form>
        </main>
       <footer>
        <button class="#"><a href="/sobreNos">Quem Somos</a></button>
    </footer>
    </section>
</body>

</html>