@import url('https://fonts.googleapis.com/css2? family= Abel & display=swap');

* {
  padding: 0;
  font-family: "Abel";
  box-sizing: border-box;
  margin: 0;
}
.botao{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.botao .sobre-nos{
    background-color: #1F1F20;
    color: white;
    padding: 25px 65px;
    margin-top: 30px;
    font-size: 30px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.242);
    box-shadow: -1px 10px 10px rgba(0, 0, 0, 0.469);
}
main{
  position: relative;
}
.carrosel{
    width: 100%;
    margin: 10px auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.glider-contain{
  background-color: #1F1F20;
  padding: 15px;
  margin: 20px;
  position: relative;
}
.glider{
  display: flex;
}
.glider .conteudo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.glider div img{
  height: 280px;
  border-radius: 15px;
  max-width: 50%;
}
.paragrafo-carrosel{
  color: black;
  background-color: white;
  margin-top: 15px;
  border-radius: 10px;
  width: 50%;
  padding: 15px;
  text-align: center;
}
.glider-botoes{
  position:absolute;
  bottom: 50px;
  top: 50px;
  right: 5%;
  left: 5%;
}
.seta{
  width: 20px;
}
